<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="uiTests">
      <section name="uiTestsConfig" type="Penguinoid.UI.Test.Generator.Configuration.UiTestsConfig, Penguinoid.UI.Test.Generator"/>
      <section name="uiTestsScreenSizes" type="Penguinoid.UI.Test.Generator.Configuration.UiTestsScreenSizes, Penguinoid.UI.Test.Generator"/>
      <section name="uiTestsScreenshots" type="Penguinoid.UI.Test.Generator.Configuration.UiTestsScreenshots, Penguinoid.UI.Test.Generator"/>
    </sectionGroup>
  </configSections>
  <uiTests>
    <uiTestsConfig
      baselineScreenShotFolderPath="C:\EPiServer\HearingDogs\HearingDogs\HearingDogs.Web.UI.Tests.Baseline\Screenshots\"
      comparisonScreenShotFolderPath="C:\EPiServer\HearingDogs\HearingDogs\HearingDogs.Web.UI.Tests\Screenshots\"
      diffImageFolderPath="C:\EPiServer\HearingDogs\HearingDogs\HearingDogs.Web\DiffImages\"
      reportName="index.html" siteUrl="http://hearingdogsweb" />
    <uiTestsScreenshots>
      <screenshots>
        <screenshot name="home" url="/" type="Default"/>
        <screenshot name="shop" url="/shop" type="WithDelay" options="delay;1000" />
      </screenshots>
    </uiTestsScreenshots>
    <uiTestsScreenSizes>
      <screenSizes>
        <screenSize name="screen-lg" width="1200" height="1000" />
        <!--<screenSize name="screen-md" width="992" height="1000" />
        <screenSize name="screen-sm" width="768" height="1000" />
        <screenSize name="screen-xs" width="767" height="1000" />-->
      </screenSizes>
    </uiTestsScreenSizes>
  </uiTests>
</configuration>